<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You are not allowed access this page</h2>
        <p>Please, Click to go back to the HomePage.</p>
        <hr />
        <p><a asp-controller="Movies" asp-action="Index" class="btn btn-success">HomePage</a></p>
    </div>
</div>